{
  "plugins": ["prettier"],
  "extends": ["plugin:prettier/recommended", "eslint:recommended"],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  }
}
